body{
    background-image: url("bg.jpg");
    background-color: #cccccc;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.box{
       width: 300px;
       padding: 30px;
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%,-50%);
       background:rgba(0,0,0,0.4);
       text-align: center;
}
.box h1{
    
  color: rgba(19, 18, 18, 0.904);
  text-transform: uppercase;
  font-weight: 700;
}

.box input[type="text"],.box input[type="password"]{
    border: 0;
    background: black;
    display: block;
    margin: 20px auto;
    text-align: center;
    border:3px solid;
    padding: 14px 10px;
    width: 220px;
    outline: none;
    color: rgb(42, 31, 190);
    border-radius: 24px;
    transition: 0.25px;

}
.box input[type="text"]:focus,.box input[type="password"]:focus{
    width: 270px;
    border-color: rgb(151, 205, 50);
}
.box input[type="submit"]
{
    border: 0;
    background: black;
    display: block;
    margin: 20px auto;
    text-align: center;
    border:3px rgb(25, 0, 255);
    padding: 14px 35px;
   
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25px;
    cursor: pointer;

}
.box input[type="submit"]:hover
{
background: rgb(0, 17, 255);
}
